.des{
overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
}
.icon{
    font-size:2rem;
    color:white;
    position:absolute;
    display: none;
}
.contt{
    width:18%;
    cursor:pointer;
    position:relative
}
.contt:hover .icon{
    display: block;
}

